{% extends 'courses/main-layout.html' %}

{% block main %}

<div class="container">
    <h2>{{ title }}</h2>
    <p>У нас на сайте вы можете приобрести полную подписку на сайте, что предоставит доступ ко всем курсам сайта.</p>
</div>
{% if user.is_authenticated == False or user.profiles.ac_type == 'Бесплатный пакет' %}
<div class="container">
<div class="row  mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Бесплатный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0 <small class="text-body-secondary fw-light">рублей</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Бесплатные курсы</li>
              <li>Тех-поддержка</li>
              <li>Консультации</li>
              <li>Домашние работы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Полный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1 500 <small class="text-body-secondary fw-light">рублей</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Полностью все курсы</li>
              <li>Улучшенная тех-поддержка</li>
              <li>Консультации</li>
              <li>Домашние работы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>

    </div>
</div>
{% else %}
<div class="container">
<p>У вас куплена максимальная подписка</p>
</div>
{% endif %}
{% endblock %}